<h2>Re-Name Farm</h2>
 
<%= form_for :farms, url: farm_path(@farm), method: :patch do |f| %>
 
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', farms_path %>
