<h2>Start a New Farm</h2>

<%= form_for @farm do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', farms_path %>

