<h2> <%= @farm.title %> </h2>

<div>
  <% @allbananas.each do |banana| %>
  <div id = <%="banana_row_" + banana.id.to_s%> class = "banana_row">
    <div class = "banana_row_top center">   
      <img class = 'banana' src = "/assets/bananas.png"> 
      <div class = 'param'> Name: <%= banana.flavour %> </div>
      <div class = 'param'> Quantity: </div>
      <div id = <%="length_id_" + banana.id.to_s%> class = 'param'> <%= banana.length %> </div>
      <div class = 'param'> Value: <%= banana.value   %> </div>
    </div>

    <div class = "banana_row_bot center">
      <%= link_to edit_farm_banana_path(:banana_id => banana, :farm_id => @farm), class: "small_button button center" do %>
        <h3 class = "small_button_text no_margin"> Rename </h3>
      <% end %>

      <%= link_to farm_banana_add_path(:banana_id => banana, :farm_id => @farm), :method => :patch, class: "small_button button center" do %>
        <h3 class = "small_button_text no_margin"> Grow </h3>
      <% end %>

      <%= link_to farm_banana_remove_path(:banana_id => banana, :farm_id => @farm), :method  => :patch, data: { confirm: 'Are you really that hungry?' }, class: "small_button button center" do %>
        <h3 class = "small_button_text no_margin"> Eat</h3>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to new_farm_banana_path(@farm), class: "med_button button horizontal_align center", id: "new_banana" do %>
  <h3 class = "med_button_text"> New Banana </h3>
<% end %>

<%= link_to farms_path, class: "med_button button center", id: "back_button" do %>
    <h3 class = "med_button_text"> Back </h3>
<% end %>
