<h2> <%= @farm.title %> </h2>

<div>
  <div id = <%="coins_row"%> class = "banana-row">
        <h3 class = "center">
            Coins: <%= @farm.coins %>
        </h3>
  </div>

  <% @allbananas.each do |banana| %>
  <div id = <%="banana_row_" + banana.id.to_s%> class = "banana-row">
    <div class = "banana-row-top center">
      <%= link_to farm_banana_add_path(:banana_id => banana, :farm_id => @farm), :method => :patch do %>
        <img src = "/assets/bananas.png" class = "banana-icon icon" %>
      <% end %>
      <div class = 'param'> <%= banana.banana_name %> </div>
      <div class = 'param'> Length: </div>
      <div id = <%="length_id_" + banana.id.to_s%> class = 'param'> <%= banana.length %> </div>
      <div class = 'param'> Value: <%= banana.value   %> </div>
    </div>

    <div class = "banana-row-bot center">
      <%= link_to edit_farm_banana_path(:banana_id => banana, :farm_id => @farm), class: "small-button button center" do %>
        <h3 class = "small-button-text no-margin"> Rename </h3>
      <% end %>

      <%= link_to farm_banana_add_path(:banana_id => banana, :farm_id => @farm), :method => :patch, class: "small-button button center" do %>
        <h3 class = "small-button-text no-margin"> Grow </h3>
      <% end %>

      <%= link_to farm_banana_remove_path(:banana_id => banana, :farm_id => @farm), :method  => :patch, data: { confirm: 'Are you sure you want to sell this banana?' }, class: "small-button button center" do %>
        <h3 class = "small-button-text no-margin"> Sell </h3>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to new_farm_banana_path(@farm), class: "med-button button center", id: "new_banana" do %>
  <h3 class = "med-button-text"> New Banana </h3>
<% end %>

<%= link_to farms_path, class: "med-button button center", id: "back_button" do %>
    <h3 class = "med-button-text"> Back </h3>
<% end %>
