<h2> <%= @farm.title %> </h2>

<div>
  <div id = <%="coins_row"%> class = "coins-row center">
        <img src = "/assets/coins.png" class = "icon coin-icon" %>
        <h3 id = "coins_amount" "class = "center">
            <%= @farm.coins %>
        </h3>
        <img src = "/assets/coins.png" class = "icon coin-icon" %>
  </div>

  <% @allbananas.each do |banana| %>
    <%= render partial: 'bananas/show', locals: {:banana => banana} %>
  <% end %>
</div>

<%= link_to new_farm_banana_path(@farm), class: "med-button button center", id: "new_banana" do %>
  <h3 class = "med-button-text"> New Banana </h3>
<% end %>

<%= link_to farms_path, class: "med-button button center", id: "back_button" do %>
    <h3 class = "med-button-text"> Back </h3>
<% end %>
