<%= form_for @banana, :url => url, :method => method, :html => {:class => 'form-wrapper center col'} do |f| %>
    <% if @banana.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@banana.errors.count, "error") %> prohibited this article from being saved:
            </h2>
        <ul>
            <% @banana.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class = "form-background center col">
        
        <br>
        
        <%= f.label :Length %>
        <%= f.text_field :length %>

        <br>

        <%= f.label :Flavour %>
        <%= f.text_area :flavour %>

        <br>

        <%= f.label :Value %>
        <%= f.text_area :value %>

        <%= f.submit "Save Changes", :class => 'small-button button center small-button-text auto-size' %>
    
    </div>

<% end %>
