<%= form_for @banana, :url => url, :method => method, :html => {:class => 'form-wrapper center col'} do |f| %>
    <% if @banana.errors.any? %>
        <div id="error_explanation">
            <p style = "color: white">
                <%= pluralize(@banana.errors.count, "error") %> prohibited this item from being saved:
            </p>
        <ul>
            <% @banana.errors.full_messages.each do |msg| %>
                <li style = "color: white"><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class = "form-background center col">

        <br>

        <%= f.label :Name %>
        <%= f.text_field :banana_name %>

        <br>

        <%= f.label :Index %>
        <%= f.text_field :farm_banana_index, :value => get_max_banana_index(@farm.id) %>

        <br>

        <%= f.label :Length %>
        <%= f.text_field :length %>

        <br>

        <%= f.label :Value %>
        <%= f.text_field :value %>

        <%= f.submit "Save Changes", :class => 'small-button button center small-button-text auto-size' %>
    
    </div>

<% end %>
