<%= form_for @banana, :url => url, :method => method, :html => {:class => 'form-wrapper center col'} do |f| %>
    <% if @banana.errors.any? %>
        <div id="error_explanation">
            <p style = "color: white">
                <%= pluralize(@banana.errors.count, "error") %> prohibited this item from being saved:
            </p>
        <ul>
            <% @banana.errors.full_messages.each do |msg| %>
                <li style = "color: white"><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class = "form-background center col">
        <br>
        <%= f.label :Name %>
        <%= f.text_field :banana_name, :value => "Use Default" %>
        <br>
        <%= f.submit "Save Changes", :class => 'small-button button center small-button-text auto-size' %>
    </div>
<% end %>
