<%= form_for @singlebanana do |f| %>
 
  <% if @singlebanana.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@singlebanana.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @singlebanana.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Length %><br>
    <%= f.text_field :length %>
  </p>
 
  <p>
    <%= f.label :Flavour %><br>
    <%= f.text_area :flavour %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>